.container {
    width: 100%;
  }
  
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
    height: 400px; /* Kích thước mặc định */
  }
  
  @media (max-width: 768px) {
    .slide {
      height: 300px; /* Kích thước cho màn hình nhỏ hơn 768px */
    }
  }
  
  @media (max-width: 480px) {
    .slide {
      height: 200px; /* Kích thước cho màn hình nhỏ hơn 480px */
    }
  }