.filter{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sort {
    border: 1px solid  black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sorttitle{
    font-weight: 600;
    font-size: 2vh;
    padding-bottom: 15px;
}

.include{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.7vh;
    gap: 8px;
    padding-bottom: 6px;
}

.o{
    width: 13px;
    height: 13px;
    border: 1px solid black;
    background-color: white;
}

.newO{
    background-color: black;
}

@media (max-width: 767px) {
    .include{
        font-size: 1.3vh;
    }
    .filter{
        flex-direction: row;
        gap: 10px;
    }
    .sort{
        padding: 5px;
    }
}