.container {
    z-index: 99;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    flex-direction: row;
    width: 100vw;
    transition: background-color 0.3s;
}

.logoContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    gap: 10px;
}

.logo {
    object-fit: cover;
}

.image {
    object-fit: cover;
    max-width: 100%;
    cursor: pointer;
    background-color: #595858;
    padding: 2px;
}


.navigation {
    display: flex;
    flex: 4;
    justify-content: center;
    gap: 50px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
}

.link:hover {
    color: rgb(24, 77, 59);
    cursor: pointer;
}

.right {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: end;
    padding-right: 100px;
    gap: 20px;
}

.totalItem {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    right: 130px;
    top: 12px;
}

.scrolled {
    background-color: #5a5a5a;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .navigation{
        gap: 30px;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navigation{
        gap: 20px;
        font-size: 13px;
    }
}

.menu{
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.line{
    background-color: #f00;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
}

.nNavigation{
    display: none;
}



@media (max-width: 767px) {
    .navigation{
        display: none;
    }

    .menu{
        display: block;
        position: absolute;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
    }
    
    .line{
        background-color: rgb(255, 255, 255);
        border-radius: 1px;
        height: 3px;
        width: 20px;
        margin-bottom: 2px;
    }

    .mNavigation{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100vw;
        height: 50vh;
        background-color: rgb(186, 186, 186);
        align-items: center;
        justify-content: space-around;
    }

    .link{
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

    .nNavigation{
        display: none;
    }

    .right{
        padding-right: 60px;
        gap: 10px;
    }
}





